<h1>Welcome to MongoDB performance evaluation page</h1>

<br/>
<br/>

<%= link_to 'Get data summary', summary_forecasts_path %>
<br/>
<br/>

<%= link_to 'Search (Lookups and Scans)', search_forecasts_path %>
<br/>
<br/>

<%= link_to 'Aggregation', aggregate_forecasts_path %>
<br/>
<br/>


